/**
Default Variables for Maintenace Mode Basic

@import in style.scss
*/

// Colours
// @source: https://material.io/resources/color/
$primary: #ba68c8;
$primary-light: #ee98fb;
$primary-dark: #883997;

$secondary: #ccff90;
$secondary-light: #dff8b7;
$secondary-dark: #99cc60;

$gray-dark: #222;