/**
Default Variables for Maintenace Mode Basic

@import in style.scss
*/

// Colours
// @source: https://material.io/resources/color/
$primary: #92acd1;
$primary-light: lighten($primary, 20%);
$primary-dark: darken($primary, 20%);

$gray-dark: #403f3f;