/**
 * Plugin Name:       Maintenance Mode Basic for WP
 * Plugin URI:        
 * Description:       Handle the basics maintenace mode with this plugin.
 * Version:           1.0.0
 * Requires at least: 5.2
 * Requires PHP:      7.2
 * Author:            SuPerGiu
 * Author URI:        https://supergiulab.com
 * License:           GPL v2 or later
 * License URI:       https://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain:       maintenance-mode-basic
 * Domain Path:       /languages
 */

/** Variables **/
@import "parts/_vars";

/** Layout General Style  **/
.min-100vh { min-height: 100vh; }

.row {
    display: flex;
    flex-direction: column;
}

.container {
    @extend .row;
    margin: 0 auto;
    padding: 0 1rem;
    width: 90%;
    max-width: 50rem;
}

.cover {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/** Typography **/
body {
    font-family: sans-serif;
    font-size: 1rem;
}

h1, .h1,
h2, .h2
h3, .h3,
h4, .h4 {
    font-size: 2rem;
    text-transform: uppercase;
}

h2, .h2 { font-size: 1.8rem;; }
h3, .h3 { font-size: 1.6rem; }
h4, .h4 { font-size: 1.4rem; }

/* Links */
a { color: $primary; }
a:visited { color: darken($secondary, 20%); }
a:hover, a:focus { color: $primary-dark; }

/** Body and Main Content Layout **/
body { margin: 0; padding: 0; }

body, main,
#main-content {
    @extend .row;
    @extend .min-100vh;
}

#main-content {
    @extend .container;
}